*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
}

.logo{
  width: 8rem;
  margin-left: 2rem
}

.container{
  display: grid;
  grid-template-columns: 1.5fr 2fr 1.5fr;
}

.search__section{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightblue;
  border-radius: 8px
}

.search__input{
  width: 100%;
  height: 1.8rem;
  padding-left: .3rem;
  outline: none;
  border: none;
  border-radius: 6px 0px 0px 6px;

}

.search__button{
  height: 1.8rem;
  padding: 0 .6rem;
  margin: none;
  border: none;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer

}

.search__logo{
  width:10px;
}

.counter{
  padding: 1.5rem .4rem;
  text-transform: uppercase;
}

.ship__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.ship{
  margin-bottom: 1rem;
  width: 100%;
}

.ship__image{
  width: 100%;
  height: 200px;
}

.description_font{
  font-size: 14px;
}

@media(max-width:480px){
  .ship__image{
    height: 100px;
  } 
  .footer{
    font-size: 10px;
  }
  .description_font{
    font-size: 8px;
  }
  .counter{
    padding: .8rem .2rem;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}